services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      temporal:
        condition: service_healthy
      localstack:
        condition: service_started
    env_file: ".env"
    volumes:
      - ./:/app
    command: ["sh", "-c", "uvicorn app.main:app --host 0.0.0.0 --port 8000"]

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
      temporal:
        condition: service_healthy
      localstack:
        condition: service_started
    env_file: ".env"
    volumes:
      - ./:/app
    command: ["sh", "-c", "python -m worker"]

  db:
    image: postgres:15
    env_file: ".env"
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
    - postgres_data:/var/lib/postgresql/data

  temporal:
    image: temporalio/auto-setup:1.23
    env_file: ".env"
    environment:
      # PostgreSQL credentials for auto-setup
      POSTGRES_PWD: ${POSTGRES_PASSWORD}
      POSTGRES_SEEDS: ${DB_HOST}
    ports:
      - "7233:7233"
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "tctl --address temporal:7233 workflow list"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s # Give Temporal time to start up before checking


  localstack:
    image: localstack/localstack
    env_file: ".env"
    environment:
      SERVICES: s3
    ports:
      - "4566:4566"
  
  temporalui:
    image: temporalio/ui
    environment:
      TEMPORAL_ADDRESS: temporal:7233
    ports:
      - "8080:8080"
    depends_on:
      temporal:
        condition: service_healthy

volumes:
  postgres_data: